.about {
	padding: 5rem 0;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	&__first-group {
		flex-basis: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: 5rem 0;
	}

	&__second-group {
		flex-basis: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: 5rem 0;
	}

	&__services {
		max-width: 500px;

		& p {
			text-align: justify;
		}
	}
	
	&__story {
		max-width: 500px;

		& p {
			text-align: justify;
		}
	}

	&__restaurant-img {
		height: 400px;
		border-radius: 3px;
	}
}