.banner {
	height: 40rem;
	border-radius: 3px;
	background-image: url("../img/sushi-plate-2.jpg");
	background-position: center;
	background-size: cover;

	position: relative;

	&__heading {
		position: absolute;
		top: 30%;
		left: 5%;
	}

	&__heading-2 {
		position: absolute;
		top: 40%;
		left: 5%;
	}

	&__button {
		position: absolute;
		top: 60%;
		left: 5%;
	}
}