.banner {
	height: 40rem;
	background-image: url("../img/sushi-plate-2.jpg");
	background-position: center;
	background-size: cover;

	position: relative;

	&__heading {
		position: absolute;
		top: 20%;
		left: 10%;
	}

	&__button {
		position: absolute;
		top: 70%;
		left: 10%;
	}
}