.footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	&__section-title {
		margin-bottom: 1rem;
	}

	&__schedule {
		flex-basis: 25rem;
	}

	&__day-schedule {
		display: flex;
	}

	&__dotted-line {
		flex-grow: 1;
		border-bottom: dotted black 2px;
		transform: translateY(-7px);
	}
}