.footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	@media only screen and (max-width: 1250px) {
		display: block;
	}

	&__section {
		margin-bottom: 4rem;

		&--schedule {
			flex-basis: 25rem;
			
			@media only screen and (max-width: 1250px) {
				width: 60%;
			}

			@media only screen and (max-width: 500px) {
				width: 100%;
			}
		}
	}

	&__section-title {
		margin-bottom: 2rem;
	}


	&__day {
		display: flex;
	}

	&__dotted-line {
		flex-grow: 1;
		border-bottom: dotted black 2px;
		transform: translateY(-7px);
	}
}