.menu {
	margin-bottom: 5rem;
	display: flex;
	justify-content: center;

	&__title {
		text-align: center;
	}

	&__section {
		margin-bottom: 2rem;
	}

	&__section-title {
		display: flex;
		justify-content: space-between;
		max-width: 63rem;
		margin-bottom: 1rem;
	}

	&__item {
		margin-bottom: 1.6rem;
	}

	&__item-header {
		display: flex;
		flex-basis: 10rem;
	}

	&__item-name {
		font-weight: 700;
	}

	&__dotted-line {
		flex-grow: 1;
		border-bottom: dotted black 2px;
		transform: translateY(-7px);
	}
}