.menu {
	margin: 5rem 0;
	display: flex;
	justify-content: center;

	&__title {
		text-align: center;
	}

	&__item {
		margin-bottom: 1.3rem;
	}

	&__item-header {
		display: flex;
		flex-basis: 10rem;
	}

	&__item-name {
		font-weight: 700;
	}

	&__dotted-line {
		flex-grow: 1;
		border-bottom: dotted black 2px;
		transform: translateY(-7px);
	}
}