.menu {
	margin: 5rem 0;
	display: flex;
	justify-content: center;

	&__item {
		display: flex;
		flex-basis: 10rem;
	}

	&__dotted-line {
		flex-grow: 1;
		border-bottom: dotted black 2px;
		transform: translateY(-7px);
	}
}