.nav {
	height: 135px;
	background-color: $color-transparent;
	display: flex;
	justify-content: space-between;

	&__middle {
		flex-basis: 20rem;
		display: flex;
		justify-content: space-between;
	}

	&__right {
		position: relative;
	}
	
	&__left {
		align-self: center;
	}

	&__middle, &__right {
		align-self: center;

		@media only screen and (max-width: 1000px){
			display: none;
		}
	}

	&__logo {
		font-size: 2.3rem;
	}

	&__link {
		font-weight: 700;
	}

	&__number {
		font-size: 2.3rem;
	}

	&__number-cta {
		position: absolute;
		width: 200px;
		font-size: 1.5rem;
		bottom: 30px;
		left: -16px;
	}
}