.nav {
	width: 100%;
	background-color: $color-transparent;

	display: flex;
	justify-content: center;
	
	&__fixed-width-container { //used to center nav links and keep them close obn 4k screens
		width: 100%;
		max-width: 1588px;
		height: 135px;

		display: flex;
		justify-content: space-between;	
	}

	&__left {
		align-self: center;
	}

	&__middle {
		align-self: center;

		flex-basis: 20rem;
		display: flex;
		justify-content: space-between;
	}

	&__right {
		align-self: center;
	}

	&__logo {
		font-size: 2.3rem;
	}

	&__link {
		font-weight: 700;
	}

	&__number {
		font-size: 2.3rem;
	}

	&__number-cta {
		
	}
}