*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
  // This defines value of 1rem
	font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.25%

	@media only screen and (min-width: 1800px) {
		font-size: 70%;
	}
 
	@media only screen and (max-width: 1200px) {
		font-size: 62.5%;
	}
 
	@media only screen and (max-width: 900px) {
		font-size: 62.5%;
	}
 
	@media only screen and (max-width: 400px) {
		font-size: 56.25%;
	}
}

body {
	box-sizing: border-box;
	color: $color-grey-2;
}

