*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
  // We define value of 1rem
	font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.25%
}

body {
	box-sizing: border-box;
	font-size: 1.6rem;
	color: $color-grey-2;
}

