*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.6rem; }

body {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000; }

.logo_typography {
  font-family: Quicksand, sans-serif;
  text-decoration: none;
  color: #000; }

.banner {
  height: 80vh;
  background-image: url("../img/sushi-plate-2.jpg");
  background-position: center;
  background-size: cover; }

.nav {
  width: 100%;
  padding: 0 3rem;
  background-color: #F9E0D9;
  display: flex;
  justify-content: center; }
  .nav__fixed-width-container {
    width: 100%;
    max-width: 1588px;
    height: 50px;
    display: flex;
    justify-content: space-between; }
  .nav__left {
    align-self: center; }
  .nav__right {
    align-self: center;
    flex-basis: 40rem;
    display: flex;
    justify-content: space-between; }
  .nav__link {
    text-decoration: none; }

.social-media-toolbar {
  position: fixed;
  top: 40%;
  height: 21rem;
  width: 3rem;
  padding: 1rem 0;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: #F9E0D9;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .social-media-toolbar__link {
    align-self: center; }
  .social-media-toolbar__arrow {
    position: absolute;
    top: 80px;
    left: 30px;
    height: 5rem;
    width: 2rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #F9E0D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none; }
