*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  padding-right: 8.3%;
  padding-left: 8.3%;
  color: #878787; }

body {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000; }

.logo_typography {
  font-family: Quicksand, sans-serif;
  text-decoration: none;
  color: #000;
  font-size: 2.4rem; }

.banner {
  height: 80vh;
  background-image: url("../img/sushi-plate-2.jpg");
  background-position: center;
  background-size: cover; }

.nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center; }
  .nav__fixed-width-container {
    width: 100%;
    max-width: 1588px;
    height: 125px;
    display: flex;
    justify-content: space-between; }
  .nav__left {
    align-self: center; }
  .nav__right {
    align-self: center;
    flex-basis: 40rem;
    display: flex;
    justify-content: space-between; }
  .nav__link {
    text-decoration: none; }
