// Color Palette
$color-primary: #EE5253;
$color-secondary: #F9E0D9; // pale pink
$color-tertiary: #7D6167;

$color-white: #FFF;
$color-grey: #E6DBD0;
$color-grey-2: #878787;

$color-transparent: rgba(0,0,0,0);

$color-black: #000;
