// Color Palette
$color-primary: #ee5253;
$color-secondary: #f9e0d9; // pale pink
$color-tertiary: #7d6167;

$color-white: #fff;
$color-grey: #e6dbd0;
$color-grey-2: #878787;

$shadow: rgb(255, 255, 255);

$color-transparent: rgba(0, 0, 0, 0);

$color-black: #000;
